<ion-view view-title="Map" data-tap-disabled="true">
    <ion-content scroll="false">
        <div class="list">
            <div class="item range range-positive">
                <i class="icon ion-arrow-shrink"></i>
                <input type="range" min="0" max="2000" ng-model="distance.value" ng-change="updateDistance()">
                <i class="icon ion-arrow-expand"></i>
            </div>
        </div>
        <div id="nearby-events-map" style="width:100%;height:100%;"></div>
    </ion-content>
    <ion-footer-bar class="bar bar-dark">
        <div class="row">
            <button class="col-40 button button-clear" ng-click="gotoGPS();"><i class="icon ion-navigate"></i>&nbsp;My position</button>
            
        </div>
    </ion-footer-bar>
</ion-view>